form{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #c2c2c2;
    padding: 5px;
    width: 90%;
    border-radius: 3px;
    background-color: whitesmoke;
}

button{
    min-width: 100px;
    height: 30px;
    margin: 10px 5px 10px 0px;
    font-size: 15px;
}

input[type='text'], input[type='number'], select{
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    padding: 7px;
    outline: 0;
    width: 300px;
}

input:focus{
    border-color: green;
}

div{
    margin: 10px 10px 10px 0px ;
    min-width: 200px;
}

div.company{
    display: flex;
}

p{
    font-weight:bold;
}

label{
    margin: 0px 5px;
}

.invalid-message{
    color: red;
}