<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
<br>
<br>
<h1>------------------------------------------------CustomElement------------------------------------------------</h1>
<input #input value="Message">
<button (click)="popup.showAsComponent(input.value)">Show as component</button>
<button (click)="popup.showAsElement(input.value)">Show as element</button>
<!-- <popup-element message="message"></popup-element> -->
<!-- <input [(ngModel)]="message"> -->